.krn_esses {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}

.info_title {
  color: #e5e7eb;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
  opacity: 0.8;
  padding: 25px 20px 15px 15px;
  z-index: 1;
}

.info_title1 {
  color: #e5e7eb;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
  opacity: 0.8;
  padding: 25px 20px 15px 15px;
  max-width: 100px;
}

.call {
  padding: 25px;
}

.info_card1 {
  max-width: 500px;
  width: 100%;
  min-height: 250px;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.32) -11.04%, rgba(255, 255, 255, 0.18) 104.89%);
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  transition: all 1s ease-in-out;
  margin: 10px auto;
}

.info_img1 {
  max-width: 215px;
  padding: 10px;
  border-radius: 9%;
 text-align: end;
}

.krn_infos {
  display: flex;
  justify-content: space-between;
}

.intro_link4 {
  max-width: 10px;
  max-height: 10px;
}

.cal_img {

  color: #e5e7eb;
  margin-left: 10px;
}

.insta_img {

  color: #e5e7eb;
  margin-left: 10px;
}

.web {
  display: flex;

}

.teg_img {
  color: #e5e7eb;
  margin-left: 10px;
}

.tik_img {


  color: #e5e7eb;
  margin-left: 10px;

}

.you_img {

  color: #e5e7eb;
  margin-left: 10px;
}

.intro_link4 {}